In [166]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from tensorflow.keras import Sequential

In [167]:
df=pd.read_csv("https://raw.githubusercontent.com/sagnikghoshcr7/Bank-Customer-Churn-Prediction/master/Churn_Modelling.csv")

In [168]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [169]:
df.shape

(10000, 14)

In [170]:
X=df.drop(["Surname","RowNumber","Surname",'Exited'],axis=1)

In [171]:
y=df["Exited"]

In [172]:
X.shape

(10000, 11)

In [173]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [174]:
from sklearn.preprocessing import StandardScaler

In [175]:
df1=pd.get_dummies(X,["Geography",'Gender'])

In [176]:
df1.head()

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,15634602,619,42,2,0.00,1,1,1,101348.88,1,0,0,1,0
1,15647311,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1,0
2,15619304,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1,0
3,15701354,699,39,1,0.00,2,0,0,93826.63,1,0,0,1,0
4,15737888,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1,0

In [177]:
X=df1[["CustomerId","CreditScore","Age","Tenure","Balance","NumOfProducts","HasCrCard","IsActiveMember","EstimatedSalary","Geography_France","Geography_Germany","Geography_Spain","Gender_Female","Gender_Male"]]

In [178]:
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [179]:
X.shape

(10000, 14)

In [180]:
Sq1=Sequential()

In [181]:
Sq1.add(Dense(14,activation='sigmoid',input_dim=14))#input layer
Sq1.add(Dense(14,activation="sigmoid"))#hidden layer
Sq1.add(Dense(1,activation="sigmoid"))#ouput layer

In [182]:
Sq1.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 14)                210

 dense_7 (Dense)             (None, 14)                210

 dense_8 (Dense)             (None, 1)                 15

=================================================================
Total params: 435 (1.70 KB)
Trainable params: 435 (1.70 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [183]:
from sklearn.model_selection import train_test_split

In [184]:
X_train ,X_test,Y_train,Y_test=train_test_split(X,y,test_size=0.2,random_state=20)

In [185]:
print(X_train.shape)
print(Y_train.shape)

(8000, 14)
(8000,)

In [186]:
from sklearn.preprocessing import StandardScaler

In [187]:
scaled=StandardScaler()

In [188]:
Scaled_value=scaled.fit_transform(X_train)
Scaled_value=scaled.transform(X_test)

In [189]:
Sq1.compile(optimizer="Adam",loss="binary_crossentropy",metrics=["accuracy"])

In [190]:
Scaled_value.shape

(2000, 14)

In [191]:
Y_train.shape

(8000,)

In [192]:
Sq1.fit(X_train,Y_train,epochs=30,verbose=1)

Epoch 1/30
250/250 [==============================] - 2s 3ms/step - loss: 0.5614 - accuracy: 0.7385
Epoch 2/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5105 - accuracy: 0.7925
Epoch 3/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5109 - accuracy: 0.7925
Epoch 4/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 5/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 6/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5107 - accuracy: 0.7925
Epoch 7/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 8/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 9/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5109 - accuracy: 0.7925
Epoch 10/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5110 - accuracy: 0.7925
Epoch 11/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5107 - accuracy: 0.7925
Epoch 12/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5111 - accuracy: 0.7925
Epoch 13/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 14/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 15/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5110 - accuracy: 0.7925
Epoch 16/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 17/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 18/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 19/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 20/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5109 - accuracy: 0.7925
Epoch 21/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 22/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5109 - accuracy: 0.7925
Epoch 23/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 24/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 25/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5107 - accuracy: 0.7925
Epoch 26/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5110 - accuracy: 0.7925
Epoch 27/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5109 - accuracy: 0.7925
Epoch 28/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5109 - accuracy: 0.7925
Epoch 29/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5108 - accuracy: 0.7925
Epoch 30/30
250/250 [==============================] - 1s 3ms/step - loss: 0.5109 - accuracy: 0.7925