In [4]:
import sqlite3

In [5]:
DB=sqlite3.connect("swaraj.db")

In [6]:
ls

 Volume in drive C is OS
 Volume Serial Number is 2AD2-D675

 Directory of C:\Users\rajpu

04/02/2023  01:59 AM             3,369  task 3 Image to Pencil Sketch with Python.ipynb
04/23/2023  04:50 PM    <DIR>          .
03/30/2023  11:04 PM    <DIR>          ..
04/11/2023  08:56 PM    <DIR>          .astropy
04/23/2023  02:09 AM             4,071 .bash_history
04/22/2023  08:01 PM    <DIR>          .conda
03/19/2023  04:13 PM                25 .condarc
03/19/2023  04:12 PM    <DIR>          .continuum
04/23/2023  12:59 AM                57 .gitconfig
02/09/2023  06:27 PM    <DIR>          .idlerc
04/23/2023  03:16 AM    <DIR>          .ipynb_checkpoints
02/24/2023  11:58 PM    <DIR>          .ipython
03/27/2023  03:38 PM    <DIR>          .jupyter
04/01/2023  02:08 PM    <DIR>          .keras
04/23/2023  02:09 AM                20 .lesshst
03/27/2023  04:28 PM    <DIR>          .matplotlib
04/12/2023  05:15 PM    <DIR>          .vscode
04/09/2023  01:20 PM    <DIR>          __pycache__
04/17/2023  08:58 PM         1,112,703 `Exploratory Data Analysis' on dataset `SampleSuperstore task 2.ipynb
04/11/2023  12:04 AM            39,871 advanced python concepts.ipynb
03/30/2023  11:01 PM         1,947,262 basic python program.ipynb
03/31/2023  12:36 AM    <DIR>          Contacts
02/07/2023  02:29 PM    <DIR>          Documents
04/23/2023  02:19 AM    <DIR>          Downloads
04/17/2023  02:16 AM           389,123 explorative data analysis of global terrorism .ipynb
03/31/2023  12:36 AM    <DIR>          Favorites
04/06/2023  11:40 PM        53,792,928 Git-2.40.0-64-bit.exe
04/01/2023  02:18 AM           264,320 Iris data analysis ML project task 1.ipynb
04/23/2023  04:11 PM            20,480 jobshop.db
03/31/2023  12:36 AM    <DIR>          Links
04/23/2023  04:10 PM            16,384 machine.db
04/22/2023  10:56 PM            19,207 MONGODB CLASS.ipynb
03/31/2023  12:36 AM    <DIR>          Music
04/09/2023  01:20 PM               608 mydict.py
04/22/2023  07:18 PM    <DIR>          mysql.py
04/17/2023  12:47 AM               212 New Text Document.txt
03/26/2023  01:27 AM           491,322 nptel content.ipynb
03/31/2023  12:32 AM    <DIR>          OneDrive
03/20/2023  12:52 PM    <DIR>          PycharmProjects
04/17/2023  06:06 PM         1,113,007 SampleSuperstore.csv
03/31/2023  12:36 AM    <DIR>          Saved Games
04/17/2023  01:55 AM               880 Scores_predictor.pkl
03/31/2023  12:36 AM    <DIR>          Searches
04/17/2023  01:56 AM            82,216 spark foundation task 1.ipynb
04/23/2023  04:50 PM            26,543 sqllite.ipynb
04/01/2023  09:11 PM         1,854,192 stock market analysis task-2.ipynb
04/09/2023  12:58 PM               869 swaraj solanke - Shortcut.lnk
04/23/2023  04:10 PM             8,192 swaraj.db
04/12/2023  05:33 PM    <DIR>          test
03/30/2023  08:25 PM                 0 txt.c
04/22/2023  07:27 PM             4,826 Untitled1.ipynb
04/20/2023  08:17 AM    <DIR>          Videos
              26 File(s)     61,192,687 bytes
              26 Dir(s)  425,077,370,880 bytes free

In [7]:
c=DB.cursor()

In [8]:
c.execute("create table student(name text,roll_no int ,marks real)")

OperationalError: table student already exists

In [9]:
c.execute("insert into student values('swaraj',123,501)")

In [10]:
data=c.execute("select * from student")

In [11]:
for i in data:
    print(i)

('swaraj', 123, 501.0)
('swaraj', 123, 501.0)
('swaraj', 123, 501.0)

In [12]:
DB.commit()

In [13]:
DB.close()

In [14]:
db=sqlite3.connect("swaraj.db")
c=db.cursor()
data=c.execute("select * from student where marks >400")
for i in data:
    print(i)

('swaraj', 123, 501.0)
('swaraj', 123, 501.0)
('swaraj', 123, 501.0)

In [15]:
data=c.execute("select *from student groupby")
for i in data:
    print(i)

('swaraj', 123, 501.0)
('swaraj', 123, 501.0)
('swaraj', 123, 501.0)

In [16]:
db.close()

In [17]:
db=sqlite3.connect("machine.db")
c=db.cursor()
c.execute("create table learning (subj text ,marks real ,level text)")
c.execute("insert into learning values('nlp', 234 ,'hard')")
data=c.execute("select *from learning")
for i in data:
    print(i)

OperationalError: table learning already exists

In [18]:
c.execute("create table oppo (company taxt,revenu int,product txt)")

OperationalError: table oppo already exists

In [19]:
c.execute("insert into oppo values('oppo',1234,'phones')")

In [20]:
data=c.execute("select*from oppo")

In [21]:
for i in data :
    print(i)

('oppo', 1234, 'phones')

In [22]:
m=c.execute('select *from oppo where revenu >123')
for i in m:
    print(i)

('oppo', 1234, 'phones')

In [23]:
c.execute("drop table oppo")

In [24]:
c.execute("select *from oppo")

OperationalError: no such table: oppo

In [25]:
ls

 Volume in drive C is OS
 Volume Serial Number is 2AD2-D675

 Directory of C:\Users\rajpu

04/02/2023  01:59 AM             3,369  task 3 Image to Pencil Sketch with Python.ipynb
04/23/2023  04:50 PM    <DIR>          .
03/30/2023  11:04 PM    <DIR>          ..
04/11/2023  08:56 PM    <DIR>          .astropy
04/23/2023  02:09 AM             4,071 .bash_history
04/22/2023  08:01 PM    <DIR>          .conda
03/19/2023  04:13 PM                25 .condarc
03/19/2023  04:12 PM    <DIR>          .continuum
04/23/2023  12:59 AM                57 .gitconfig
02/09/2023  06:27 PM    <DIR>          .idlerc
04/23/2023  03:16 AM    <DIR>          .ipynb_checkpoints
02/24/2023  11:58 PM    <DIR>          .ipython
03/27/2023  03:38 PM    <DIR>          .jupyter
04/01/2023  02:08 PM    <DIR>          .keras
04/23/2023  02:09 AM                20 .lesshst
03/27/2023  04:28 PM    <DIR>          .matplotlib
04/12/2023  05:15 PM    <DIR>          .vscode
04/09/2023  01:20 PM    <DIR>          __pycache__
04/17/2023  08:58 PM         1,112,703 `Exploratory Data Analysis' on dataset `SampleSuperstore task 2.ipynb
04/11/2023  12:04 AM            39,871 advanced python concepts.ipynb
03/30/2023  11:01 PM         1,947,262 basic python program.ipynb
03/31/2023  12:36 AM    <DIR>          Contacts
02/07/2023  02:29 PM    <DIR>          Documents
04/23/2023  02:19 AM    <DIR>          Downloads
04/17/2023  02:16 AM           389,123 explorative data analysis of global terrorism .ipynb
03/31/2023  12:36 AM    <DIR>          Favorites
04/06/2023  11:40 PM        53,792,928 Git-2.40.0-64-bit.exe
04/01/2023  02:18 AM           264,320 Iris data analysis ML project task 1.ipynb
04/23/2023  04:11 PM            20,480 jobshop.db
03/31/2023  12:36 AM    <DIR>          Links
04/23/2023  04:10 PM            16,384 machine.db
04/23/2023  04:50 PM                 0 machine.db-journal
04/22/2023  10:56 PM            19,207 MONGODB CLASS.ipynb
03/31/2023  12:36 AM    <DIR>          Music
04/09/2023  01:20 PM               608 mydict.py
04/22/2023  07:18 PM    <DIR>          mysql.py
04/17/2023  12:47 AM               212 New Text Document.txt
03/26/2023  01:27 AM           491,322 nptel content.ipynb
03/31/2023  12:32 AM    <DIR>          OneDrive
03/20/2023  12:52 PM    <DIR>          PycharmProjects
04/17/2023  06:06 PM         1,113,007 SampleSuperstore.csv
03/31/2023  12:36 AM    <DIR>          Saved Games
04/17/2023  01:55 AM               880 Scores_predictor.pkl
03/31/2023  12:36 AM    <DIR>          Searches
04/17/2023  01:56 AM            82,216 spark foundation task 1.ipynb
04/23/2023  04:50 PM            26,543 sqllite.ipynb
04/01/2023  09:11 PM         1,854,192 stock market analysis task-2.ipynb
04/09/2023  12:58 PM               869 swaraj solanke - Shortcut.lnk
04/23/2023  04:50 PM             8,192 swaraj.db
04/12/2023  05:33 PM    <DIR>          test
03/30/2023  08:25 PM                 0 txt.c
04/22/2023  07:27 PM             4,826 Untitled1.ipynb
04/20/2023  08:17 AM    <DIR>          Videos
              27 File(s)     61,192,687 bytes
              26 Dir(s)  425,077,116,928 bytes free

In [26]:
data.close()

In [27]:
db=sqlite3.connect("jobshop.db")

In [28]:
c=db.cursor()

In [39]:
data1=c.execute("create table student2(id1 int ,name text, marks real, phone_no int )")

In [38]:
c.execute("drop table student2")

In [41]:
c.execute("drop table engineer")

OperationalError: no such table: engineer

In [44]:
data2=c.execute("create table engineer1(id int ,name text, email text,phone_no int)")

In [43]:
c.execute("drop table engineer1")

In [45]:
data1=c.execute("insert into engineer1 values(1234,'swaraj','swaraj@gmail.com',98008)")
data1=c.execute("insert into engineer1 values(1235,'swaraj','swaraj@gmail.com',98008)")
data1=c.execute("insert into engineer1 values(1233,'swaraj','swaraj@gmail.com',98008)")
data1=c.execute("insert into engineer1 values(1237,'swaraj','swaraj@gmail.com',98008)")

In [46]:
for i in data1:
    print(i)

In [47]:
data1=c.execute("select *from engineer1")
for i in data1:
    print(i)

(1234, 'swaraj', 'swaraj@gmail.com', 98008)
(1235, 'swaraj', 'swaraj@gmail.com', 98008)
(1233, 'swaraj', 'swaraj@gmail.com', 98008)
(1237, 'swaraj', 'swaraj@gmail.com', 98008)

In [48]:
c.execute("insert into student2 values(1234,'swara',550,2394830)")
c.execute("insert into student2 values(1236,'swara',550,2394830)")
c.execute("insert into student2 values(1235,'swara',550,2394830)")
c.execute("insert into student2 values(1237,'swara',550,2394830)")
c.execute("insert into student2 values(1239,'swara',550,2394830)")
c.execute("insert into student2 values(1238,'swara',550,2394830)")

In [49]:
data2=c.execute("select *from student2")
for i in data2:
    print(i)

(1234, 'swara', 550.0, 2394830)
(1236, 'swara', 550.0, 2394830)
(1235, 'swara', 550.0, 2394830)
(1237, 'swara', 550.0, 2394830)
(1239, 'swara', 550.0, 2394830)
(1238, 'swara', 550.0, 2394830)

In [62]:
data2=c.execute('select * from student2 s left join engineer1 e on s.id1=e.id') # to fetch all the info from left table then acces
#the value corresponding to right table

In [63]:
for i in data2:
    print(i)

(1234, 'swara', 550.0, 2394830, 1234, 'swaraj', 'swaraj@gmail.com', 98008)
(1236, 'swara', 550.0, 2394830, None, None, None, None)
(1235, 'swara', 550.0, 2394830, 1235, 'swaraj', 'swaraj@gmail.com', 98008)
(1237, 'swara', 550.0, 2394830, 1237, 'swaraj', 'swaraj@gmail.com', 98008)
(1239, 'swara', 550.0, 2394830, None, None, None, None)
(1238, 'swara', 550.0, 2394830, None, None, None, None)

In [64]:
data2=c.execute('select * from student2 s right join engineer1 e on s.id1=e.id')#where e.id is not null to remove the null values

In [68]:
data2=c.execute('select * from student2 s inner join engineer1 e on s.id1=e.id') # to remove the none value from dataframe

In [69]:
for i in data2:
    print(i)

(1234, 'swara', 550.0, 2394830, 1234, 'swaraj', 'swaraj@gmail.com', 98008)
(1235, 'swara', 550.0, 2394830, 1235, 'swaraj', 'swaraj@gmail.com', 98008)
(1237, 'swara', 550.0, 2394830, 1237, 'swaraj', 'swaraj@gmail.com', 98008)

In [ ]:
# the right and outermost join is not possible in case of sqlite

In [70]:
data2=c.execute("delete from student2 where id1>1235") # delete the record base on the condition

In [72]:
data2=c.execute("select *from student2")
for i in data2:
    print(i)

(1234, 'swara', 550.0, 2394830)
(1235, 'swara', 550.0, 2394830)

In [73]:
data2.fetchall() # null is left

[]

In [74]:
c.execute("update student2 set id1=100 where id1=1234") # update the value of  the given table

In [75]:
data2=c.execute("select *from student2")
for i in data2:
    print(i)

(100, 'swara', 550.0, 2394830)
(1235, 'swara', 550.0, 2394830)

In [76]:
db.close()

In [88]:
l=[1,2,3,4]
l2=[]
for i in l:
    l2.append(i+5)
print(l2)

[6, 7, 8, 9]

In [84]:
list(map(lambda x:x+5,l)) # map function is used to iterate over the list

[6, 7, 8, 9]

In [89]:
def test(a):
    return a*5
test(6)

30

In [90]:
list(map(lambda x:x*5 ,l)) # lambad is  in-line function used to reduce the lines of code

[5, 10, 15, 20]

In [91]:
l2=[2,4,7,9,16]
for i in l2:
    print(i)

2
4
7
9
16

In [100]:
def even(l2): # to access those number which are even 
    for i in l2:
        if i%2==0:
            print(i)
even(l2)

2
4
16

In [98]:
[i for  i in l2 if i%2==0 ] # to print only those number which are even

[2, 4, 16]

In [102]:
list(filter(even,l2)) # it take function as first arugument and second as itearable object

[2, 4, 16]

In [101]:
def even(l2):
    if l2%2==0:
        return l2

In [103]:
list(filter(lambda x:x%2==0,l2)) # it is only used when function return true

[2, 4, 16]

In [105]:
from functools import reduce  # bydefault it is not available we have import it

In [108]:
l=[23,4,5,6]
sum(l)

38

In [109]:
def sumr(a,b):
    return a+b

In [110]:
reduce(sumr,l) # reduce function works for only two argument and one argument

38

In [114]:
reduce((lambda x,y:x+y ,l))

TypeError: reduce expected at least 2 arguments, got 1

In [118]:
l=[4,5]# it works for 1 argument
reduce(sumr,l)

9

In [119]:
reduce(lambda x,y:x+y,l) # by using lambda func

9

In [121]:
l1=[1,3,5,6] # to zip the list in the form of tuples 
l2=[3,4,5]
l3=["swaraj","aakash","veera","mahesh"]
list(zip(l1,l2,l3))

[(1, 3, 'swaraj'), (3, 4, 'aakash'), (5, 5, 'veera')]